---
import { getNowPlaying } from "~/lib/spotify/fetcher";
import { validateIsPlaying } from "~/lib/spotify/validate-is-playing";

const nowPlaying = await getNowPlaying();
const isPlaying = validateIsPlaying(nowPlaying);
---

<span
  role="img"
  aria-hidden
  class={`i-tabler-brand-spotify h-8 w-8 transition-colors ${
    isPlaying ? "text-[#1DB954]" : "text-gray-300 dark:text-gray-500"
  }`}></span>
