---
import TrackCard from "./track-card.astro";
import { getTopTracks } from "~/lib/spotify/fetcher";

const topTracks = await getTopTracks();
---

<ul
  class="flex flex-col [&>li:not(:last-child)]:border-b"
  aria-label="많이 들은 노래 10곡"
>
  {
    topTracks.map((track, index) => (
      <li
        class="flex items-center"
        aria-label={`${index + 1}번째로 많이 들은 노래`}
      >
        <div class="w-6 shrink-0 text-right">
          <span class="text-right text-lg tabular-nums text-gray-700 dark:text-gray-300">
            {index + 1}
          </span>
        </div>
        <TrackCard track={track} />
      </li>
    ))
  }
</ul>
