---
import MainLayout from "~/layouts/main-layout.astro";
import { Hero } from "./hero.tsx";
import { Image } from "astro:assets";
---

<style>
  html,
  body {
    position: fixed;
    width: 100%;
    height: 100%;
  }
</style>
<MainLayout
  title="Snubi.net"
  description="Snubi.net"
  image="https://snubi-net.vercel.app/images/hero-cat.png"
>
  <div class="flex flex-col items-center gap-4 p-16">
    <Hero client:load>
      <Image
        src="/images/hero-kami.jpeg"
        width="351"
        height="468"
        alt="턱시도 고양이 까미"
        style="grid-area: 1 / 1;"
      />
    </Hero>
  </div>
</MainLayout>
