---
import { Picture } from "astro:assets";
import MainLayout from "~/layouts/main-layout.astro";
---

<MainLayout
  title="Snubi.net"
  description="Snubi.net"
  image="https://snubi-net.vercel.app/images/hero-cat.png"
>
  <div class="flex flex-col items-center gap-4 p-8">
    <Picture
      class="scale-105 overflow-hidden"
      src="/images/hero-cat.png"
      width={400}
      height={400}
      alt="메롱하는 귀여운 턱시도 고양이, 유화"
    />
  </div>
</MainLayout>
