@layer prose {
  .prose :where(pre):not(:where([class~="not-prose"] *)) {
    --tw-prose-pre-bg: #ffffff;
    --tw-prose-pre-code: #24292e;
  }

  @media screen and (prefers-color-scheme: dark) {
    .prose :where(pre):not(:where([class~="not-prose"] *)) {
      --tw-prose-pre-bg: #22272e;
      --tw-prose-pre-code: #adbac7;
    }
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) > blockquote {
    display: flex;
    flex-direction: column;
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) > blockquote > p {
    margin: 0;
  }

  /* first img child  */
  .prose :where(pre):not(:where([class~="not-prose"] *)) > p > img:first-child {
    margin-top: 0;
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) > ul {
    display: flex;
    flex-direction: column;
  }

  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }
}
