---
interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPathname = pathname.split("/")[1]; // remove the first slash
const isActive = currentPathname === href.split("/")[1];
---

<a href={href} class="flex">
  <span
    class="border-blue-500 text-blue-500 underline-offset-2 transition-colors hover:text-blue-700 dark:border-blue-300 dark:text-blue-300 dark:hover:text-blue-400 [&[aria-current='page']]:border-b-2"
    aria-current={isActive && "page"}
  >
    {name}
  </span>
</a>
