---
import { Picture } from "astro:assets";

type HeroImageProps = {
  src: string;
  alt: string;
};

const { src, alt } = Astro.props as HeroImageProps;
---

<div class="flex overflow-hidden rounded shadow-lg">
  <Picture
    class="scale-105 overflow-hidden"
    src={src}
    width={400}
    height={400}
    alt={alt}
  />
</div>
